aiodns 
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
async-timeout==4.0.2
attrs==23.1.0
Bottleneck 
ccxt==3.0.79
certifi==2022.12.7
cffi 
chardet==3.0.4
charset-normalizer==3.1.0
contourpy 
cryptography 
cycler 
discord==2.2.2
discord-py-interactions==5.1.0
discord-typings==0.5.1
discord.py==2.2.2
emoji==2.2.0
fonttools==4.25.0
frozenlist==1.3.3
h2==3.2.0
hpack==3.0.0
httpcore==0.17.0
httpx==0.24.0
hyperframe==5.2.0
idna==2.10
importlib-resources 
kiwisolver 
lxml 
matplotlib 
multidict==6.0.4
munkres==1.1.4
numexpr 
numpy 
packaging 
pandas==1.5.3
Pillow==9.4.0
pycares==4.3.0
pycparser 
pyOpenSSL 
pyparsing 
PySocks 
python-dateutil 
python-dotenv==1.0.0
pytz 
PyYAML 
requests==2.29.0
requests-async==0.6.2
rfc3986==1.5.0
seaborn 
six 
sniffio==1.3.0
tabulate==0.9.0
toml 
tomli==2.0.1
typing_extensions==4.5.0
urllib3==1.26.15
yarl==1.9.2
