aiodns 
aiohttp
aiosignal
anyio
async-timeout
attrs
Bottleneck 
ccxt
certifi
cffi 
chardet
charset-normalizer
contourpy 
cryptography 
cycler 
discord
discord-py-interactions
discord-typings
discord.py
emoji
fonttools
frozenlist
h2
hpack
httpcore
httpx
hyperframe
idna
importlib-resources 
kiwisolver 
lxml 
matplotlib 
multidict
munkres
numexpr 
numpy 
packaging 
pandas
Pillow
pycares
pycparser 
pyOpenSSL 
pyparsing 
PySocks 
python-dateutil 
python-dotenv
pytz 
PyYAML 
requests
rfc3986
seaborn 
six 
sniffio
tabulate
toml 
tomli
typing_extensions
urllib3
yarl
selenium
brotlipy